@import 'mixins.scss';

/*
$accent-color: hsl(200, 23%, 55%);
$light-color: hsl(200, 23%, 95%);
$link-color: #009EBB;
$dark-color: #373b44;
*/
/*
$background-color: hsl(184, 64%, 98%);
$background-secondary-color: rgba(#000, 0.00);
$accent-color: hsl(184, 64%, 60%);
$accent-secondary-color: hsl(184, 35%, 55%);
$light-color: hsl(200, 23%, 95%);
$dark-color: #373b44;
*/

$background-color: hsl(0, 0%, 98%);
$header-color: #fff;
$accent-color: hsl(184, 64%, 60%);
$accent-secondary-color: hsl(184, 35%, 55%);
$light-color: hsl(0, 0%, 96%);
$dark-color: #373b44;

body {
  background: $background-color;
}

.text-accent {
  color: $accent-color;
}

.text-accent-secondary {
  color:  $accent-secondary-color;
}

.bg-accent {
  background: $accent-color;
}

.bg-header {
  background: $header-color;
}

.inline-group > *:not(:first-of-type) {
  margin-left: 10px;
}

.btn-accent {
  background: $accent-color;
  color: $dark-color;

  &:hover {
    background:rgba($accent-color,0.5);
    color: $dark-color;
  }

  &:active {
    background:$light-color;
  }
}

.btn-outline-accent {
  background: transparent;
  border: 1px solid $accent-color;
  color: $accent-color;

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }

  &:active {
    color: #fff;
    background-color: rgba($accent-color,0.5);
  }
}

.btn-outline-like {
  background: transparent;
  border: 1px solid $like-color;
  color: $like-color;

  &:hover {
    color: #fff;
    background-color: $like-color;
  }

  &:active {
    color: #fff;
    background-color: rgba($like-color, 0.5);
  }
}

.btn-xs {
  font-weight: normal;
  font-size: 12px;
  padding: 2px 5px 2px;
}

.btn-link {
  color: $accent-secondary-color;
  background: transparent;
  padding: 3px 0px;
  text-decoration: none;

  &:focus {
    text-decoration: none;
    color:$accent-secondary-color;
  }

  &:hover {
    text-decoration: none;
    color: rgba(#8ABBBF, 0.47)
  }

  &:active {
    text-decoration: none;
    color: rgba(#8ABBBF, 0.8);
  }
}

.card, .card-title {
  border-color: $light-color;
}
